body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

h3,legend {
  font-weight: 400;
  padding: 18px 0 15px;
  margin: 0 0 0;
}

#top-row {
  margin-left: 0;
  margin-right: 0;
  color: #f7fff7;
  background-color: #3A3A3A;
}

#sign-out-btn {
  color: #f7fff7;
  background-color: #3a3a3a;
}

#body-div {
  padding-top: 10vh;
  color: #3A3A3A;
  background-color: #f7fff7;
  height: 100%;
}


#loading-div {
  background: #e9e9e9;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

#loading-gif {
  display: none;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 40%;
  left: 48%;
  padding: 2px;
  opacity: 1.0;
  z-index: 100;
}


#menu-btns-div {
  margin-top: 3vh;
  align: left;
}

#create-menu-btn {
  color: #3A3A3A;
  background-color: #f7fff7;
}

#menu-table {
  table-layout: fixed;
  border-collapse: collapse;
}

#menu-table th {
  text-align: left;
}

#menu-table td {
  padding-top: .5em;
  padding-bottom: .5em;
}

#menu-table tr {
  border-bottom: 1pt solid gray;
}

#menu-table .menu-id-data {
  width: 15%;
}

#menu-table .menu-title-data {
  width: 30%;
}

#menu-table .menu-theme-data {
  width: 10%;
}

#menu-table .menu-shared-data {
  width: 10%;
}

#menu-table .menu-published-data {
  width: 10%;
}

#menu-table .menu-edit-data {
  width: 5%;
}

#menu-table .menu-publish-data {
  width: 5%;
}

#menu-table .menu-delete-data {
  width: 5%;
}

#menu-table .header-row {
  border-bottom: 2pt solid black;
}

#editor-div {
  border-top: 1vh solid #666;
  border-bottom: 1vh solid #666;
  padding: 2vh;
  color: #ffffff;
  display: none;
  overflow: auto;
}

.font-size-4 {
  font-size: 4vh;
}

.font-size-3 {
  font-size: 3vh;
}

.font-size-2 {
  font-size: 2vh;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.white {
  color: #ffffff;
}

#menu-level-data {
  padding-bottom: 5vh;
}

.sect-row {
  border-left: 1px solid #666;
  margin-bottom: 8vh;
  padding-top: 3vh;
}

legend {
  margin-bottom: 1vh;
}

.form-control {
  color: #ffffff;
  background-color: inherit;
  padding: 0;
  border: none;
  box-shadow: none;
}

input[type="color"] {
}

.color-input-div {
  padding-right: 0;
}

.color-input {
  float: left;
}

.change-color {
  padding-left: 0;
}

#menu-title-color-input {
  height: 7vh;
  width: 50%;
}

#editor-title-input {
  height: 7vh;
  font-size: 5vh;
}

.sect-color-input {
  width: 50%;
  height: 5vh;
}

.sect-title-input {
  height: 5vh;
  font-size: 4vh;
}

.sect-items {
  margin-top: 5vh;
}

.item-row {
  border-left: 1px solid #666;
}

.item-data {
  font-size: 2vh;
}

.item-title-color-input, .item-desc-color-input {
  width: 50%;
}

.item-title-input {
  font-weight: bold;
}

input.item-stock-input {
  color: #f55656;
}
