body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

h3,legend {
  font-weight: 400;
  padding: 18px 0 15px;
  margin: 0 0 0;
}



#loading-div {
  background: #e9e9e9;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

#loading-gif {
  display: none;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 40%;
  left: 48%;
  padding: 2px;
  opacity: 1.0;
}

#spacer-div {
  height: 50px;
}

#menu-btns-div {
  align: left;
}

#menu-table {
  table-layout: fixed;
  border-collapse: collapse;
}

#menu-table th {
  text-align: left;
}

#menu-table td {
  padding-top: .5em;
  padding-bottom: .5em;
}

#menu-table tr {
  border-bottom: 1pt solid gray;
}

#menu-table .menu-id-data {
  width: 15%;
}

#menu-table .menu-title-data {
  width: 30%;
}

#menu-table .menu-theme-data {
  width: 10%;
}

#menu-table .menu-shared-data {
  width: 10%;
}

#menu-table .menu-published-data {
  width: 10%;
}

#menu-table .menu-edit-data {
  width: 5%;
}

#menu-table .menu-publish-data {
  width: 7%;
}

#menu-table .menu-delete-data {
  width: 5%;
}

#menu-table .header-row {
  border-bottom: 2pt solid black;
}

#editor-div {
  border:5px solid #666;
  padding:10px;
  color: #ffffff;
  background:#3A3A3A;
  display:none;
}
