body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

h3,legend {
  font-weight: 400;
  padding: 18px 0 15px;
  margin: 0 0 0;
}

#menu-table {
  table-layout: fixed;
}

#menu-table th,td {
  width: 15%;
}
