<!DOCCTYPE html>
<html lang="en">

<title>EZ Menu</title>

<head>
  <!-- Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Bootstrap -->

  <!-- Personal overrides -->
  <!-- Personal overrides -->
</head>

<body>

  <div id="login-div">
    <p>EZ Menu
    </p>
    <form action="/logout">
      <button type="submit" class="btn btn-success">Logout</button>
    </form>
  </div>

  <div id="menus-list-div">
    <p>Menus
    </p>
    <p>{{ results }}
    </p>
  </div>

</body>

</html>
