<!DOCTYPE html>
<html>

<head>
  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Atma' rel='stylesheet' type='text/css'>
  <!-- Font -->

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- JQuery -->

  <style>
    body {
      background-color: #23282D;
      color: #fdf6ee;
    }
    .menu-title-div {
      width: 100%;
      font-family: 'Arvo';
      font-size: 5vh;
      border-bottom: solid 1px gray;
    }
    .section-div {
      width: 33%;
      display: inline-block;
      float: left;
      height: 100%;
    }
    .section-title-div {
      font-family: 'Atma';
      font-size: 3vh;
      font-weight: bold;
      text-align: center;
    }
    .item-div {
      height: 10vh;
      width: 100%;
      color: #ffffff;
      font-family: 'Atma';
      border-left: solid 1px gray;
      padding-left: 1%;
    }
    .inline {
      display: inline-block;
      float: left;
    }
    .item-title-desc-div {
      width: 90%;
    }
    .item-title-div {
      height: 30%;
      font-size: 2vh;
      font-weight: bold;
    }
    .item-desc-div {
      height: 70%;
      font-size: 2vh;
    }
    .item-price-stock-div {
      width: 10%;
    }
    .item-price-div {
      height: 50%;
      font-size: 2vh;
      font-weight: bold;
    }
    .item-stock-div {
      height: 50%;
      color: #FF4500;
    }
  </style>

  <title>Pop Brothers - Gulfport</title>
</head>

<body>

  <div class="menu-title-div">Pop Brothers - Gulfport</div>

  <div class="section-div">   
  
    <div class="section-title-div">Fruit & Herbs</div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Strawberry Basil</div>
        </div>
        <div class="item-desc-div">
          <div>Louisiana strawberries, fresh basil</div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>3.00</div>
        </div>
        <div class="item-stock-div">
          <h2>
            
          </h2>
        </div>
      </div>
    
    </div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Pistachio, Milk &amp; Honey</div>
        </div>
        <div class="item-desc-div">
          <div>Crushed pistachios, milk and local honey</div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>4.00</div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Mango Chile Lime</div>
        </div>
        <div class="item-desc-div">
          <div>Mango, lime juice and spicy chilis</div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>3.00</div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
    
  </div>
  
  <div class="section-div">
  
    <div class="section-title-div">Cream</div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Orange Mint</div>
        </div>
        <div class="item-desc-div">
          <div>Fresh squeezed oranges with refreshing chopped mint</div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>3.00</div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Elvis Presley</div>
        </div>
        <div class="item-desc-div">
          <div>Chocolate, Banana and Peanut Butter</div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>4.00</div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Oreo Cheesecake</div>
        </div>
        <div class="item-desc-div">
          <div>Made with a whole Oreo</div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>4.00</div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
    
  </div>
  
  <div class="section-div">
  
    <div class="section-title-div">Indulgent</div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Chi-Chi Rodriguez</div>
        </div>
        <div class="item-desc-div">
          <div>Our take on an Arnold Palmer</div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>3.00</div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Cucumber Lime Jalepeno</div>
        </div>
        <div class="item-desc-div">
          <div></div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div>3.00</div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Temporary Item Title</div>
        </div>
        <div class="item-desc-div">
          <div></div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div></div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
  
    <div class="item-div">
      
      <div class="item-title-desc-div inline">
        <div class="item-title-div">
          <div>Temporary Item Title</div>
        </div>
        <div class="item-desc-div">
          <div></div>
        </div>
      </div>
      
      <div class="item-price-stock-div inline">
        <div class="item-price-div">
          <div></div>
        </div>
        <div class="item-stock-div">
          <div>
            
          </div>
        </div>
      </div>
    
    </div>
    
  </div>
  
</body>
</html>
